<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>HTML5 时钟</title>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/clock.js"></script>
    <style>
        * {
            background-color: wheat;
        }

        .clocks {
            height: 500px;
            margin: 25px auto;
            position: relative;
            width: 500px;
        }
    </style>
</head>
<body>
<div>
    <p></p>
</div>
<div class="clocks">
    <canvas id="canvas" width="500" height="500"></canvas>
</div>
</body>
</html>