<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>爱心</title>
    <link rel="stylesheet" href="/static/css/love.css" type="text/css"/>
    <script type="text/javascript" src='/static/js/jquery.js'></script>
    <script type="text/javascript" src='/static/js/jquery.lettering.js'></script>
    <script src="/static/js/prefixfree.min.js"></script>
    <script src="/static/js/common.js"></script>

</head>

<body>
<div id="time">
    <span></span>
</div>
<div class="container bg">
    <div class="hometown">
        <div class="heart"></div>
        <div id="top">ILove You</div>
        {#		<div class="city">ZXJ</div>#}
        <div id="bottom">Vivian</div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#top").lettering();
        $("#bottom").lettering();
        datedifference()

    });

</script>
</body>
</html>